<!DOCTYPE html> {{$en := "en"}}
<html
  lang="{{.Site.Language.Lang}}"
  dir="{{ if eq .Site.Language.Lang $en }}ltr{{ else }}rtl{{ end }}"
>
  <head>
    {{- partial "base/header.html" . -}}
  </head>
  <body>
    <header id="nav">{{ partial "base/navigation.html" . }}</header>
    <main id="content">{{- block "main" . }} {{ end }}</main>
    <footer id="footer" class="fixed-bottom">
      {{- partial "base/footer.html" . -}}
    </footer>
    <section id="scripts">{{- partial "base/scripts.html" . -}}</section>
  </body>
</html>
