{{ with .Site.GetPage "/contacts" }} {{ if not .Draft }}
<section id="contacts" class="section bg-transparent">
  <div class="container">
    <div class="card">
      <div class="row card-body text-dark">
        <!-- section title -->
        <div class="col-md-6">
          <h3 class="mt-0 mb-3">{{ humanize .Title }}</h3>
          <p>{{ humanize .Params.subtitle }}</p>
        </div>
        <div class="col-md-6">
          <!-- Contact Form -->
          <form name="contact" method="post" netlify>
            <div class="form-group">
              <input
                type="text"
                placeholder="{{ humanize .Params.formName }}"
                class="form-control"
                name="name"
                id="name"
              />
            </div>

            <div class="form-group">
              <input
                type="email"
                placeholder="{{ humanize .Params.formEmail }}"
                class="form-control"
                name="email"
                id="email"
              />
            </div>

            <div class="form-group">
              <input
                type="text"
                placeholder="{{ humanize .Params.formSubject }}"
                class="form-control"
                name="subject"
                id="subject"
              />
            </div>

            <div class="form-group">
              <textarea
                rows="6"
                placeholder="{{ humanize .Params.formMessage }}"
                class="form-control"
                name="message"
                id="message"
              ></textarea>
            </div>

            <!--
              <div id="mail-success" class="success">{{ .Params.formSuccess }}</div>
            -->
            <!--
              <div id="mail-fail" class="error">{{ .Params.formFailure }}</div>
            -->

            <div id="cf-submit">
              <input
                type="submit"
                id="contact-submit"
                class="btn btn-transparent"
                value="{{ .Params.formSubmit }}"
              />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }} {{ end }}
