{{ with .Site.GetPage "/cta" }} {{ if not .Draft }}
<div class="section bg-transparent pb-0">
  <!-- <div class="filter"></div> -->
  <div class="content-center">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-6 text-center ">
          <h2 class="title">{{ .Title }}</h2>
          <br />
          {{ if .Params.action}}
          <a
            href="{{ .Params.actionURL}}"
            class="btn btn-round btn-outline-primary"
            >{{ .Params.actionText}}</a
          >
          {{ end }}
        </div>
        {{ if .Params.action}}
        <div class="col-md-6 px-5">
          <img
            src="{{ .Params.sideImageURL }}"
            width="100%"
            height="100%"
            alt="{{ .Title }}"
          />
        </div>
        {{ end }}
      </div>
      <div class="row p-4 text-center">
        <div class="clo-md-12">
          <h4 class="description">{{ .Params.subtitle }}</h4>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }} {{ end }}
