{{ with .Site.GetPage "/features" }} {{ if not .Draft }}
<section id="features" class="section bg-transparent">
  <div class="container">
    <!-- section title -->
    <div class="row">
      <div class="col-12 title text-center">
        <h3>{{ humanize .Title }}</h3>
        <p>{{ humanize .Params.subtitle }}</p>
      </div>
    </div>
    <div class="row">
      {{ $colSize := div 12 (len .Params.items) }} {{ range.Params.items }}
      <div class="col-md-{{$colSize}}">
        <div class="info card">
          <div class="icon icon-primary">
              <i class="fas fa-{{ .icon }}"></i>
          </div>
          <div class="description">
            <h4 class="info-title">{{ .title }}</h4>
            <p class="description">{{ .text }}</p>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }} {{ end }}
