<footer class="footer" dir="ltr">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-md-6">
        <small>
          {{ if .Param "copyright" }} {{ .Param "copyright" }} &copy;
          <script>
            document.write(new Date().getFullYear());
          </script>
          {{ .Param "copyrightText" }} {{ end }}
        </small>
      </div>
      <div class="col-md-6 text-md-right">
        <small>
          <div class="links ">
            <ul>
              <li>
                <a href="#"> {{ .Param "tos" }} </a>
              </li>
              <li>|</li>
              <li>
                <a href="#"> {{ .Param "privacy" }} </a>
              </li>
            </ul>
          </div>
        </small>
      </div>
    </div>
  </div>
</footer>
