<!-- Hero(extended) navbar -->
<div class="container-fluid border-bottom">
  {{ range.Page.Translations }}
  <div class="row p-0 bg-white">
    <div class="col text-right px-0">
      <a
        dir="ltr"
        class="small nav-link text-dark"
        href="{{ .Permalink }}"
        hreflang="{{ .Language.Lang }}"
      >
        {{ .Language.LanguageName }} <i class="fas fa-globe"></i>
      </a>
    </div>
  </div>
  {{ end }}
</div>
<nav dir="ltr" class="navbar navbar-expand-md navbar-flat ">
  <div class="container">
    <a class="navbar-brand py-0 my-0" href="/">
      <img src=" {{ .Site.Params.logo }}" width="" height="32" alt="logo" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarContent"
      aria-controls="navbarContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-bar bar1"></span>
      <span class="navbar-toggler-bar bar2"></span>
      <span class="navbar-toggler-bar bar3"></span>
    </button>

    <div
      id="navbarContent"
      class="collapse navbar-collapse justify-content-end"
    >
      <ul id="nav" class="navbar-nav">
        {{ range sort .Site.Pages }}
        {{ if .Params.menu}}
        <li class="nav-item"><a class="nav-link text-" href="#{{ .Section }}">{{ humanize .Params.menuTitle }}</a></li>
        {{ end }}
        {{ end }}
        {{ if .Site.Params.action}}
        <li class="nav-item">
          <a class="btn btn-round btn-outline-primary" href="{{ .Site.Params.actionURL }}">{{ .Site.Params.actionText}}</a>
        </li>
        {{ end }}
      </ul>
    </div>
  </div>
</nav>
